.app {
   background-color: #fff;
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.app-msg {
   font-family: ProximaNova,helvetica,sans-serif;
   font-size: 14px;
   color: #666;
   text-align: center;
}
.app-panel .x-panel-header-text {
   font-family: ProximaNova,helvetica,sans-serif;
   color: #555;
}

.app-summary {
  font-family: ProximaNovaSemiBold,Helvetica,Arial;
  text-transform: uppercase;
}
