.app {
   background-color: #fff;
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.app-msg {
   font-family: ProximaNova,helvetica,sans-serif;
   font-size: 14px;
   color: #666;
   text-align: center;
}
.app-panel .x-panel-header-text {
   font-family: ProximaNovaSemiBold,Helvetica,Arial;
   color: #555;
}
.summary-cell {
  
}



.rally-grid .x-panel-header-text-default {
   font-size: 12px;
   font-family: ProximaNovaSemiBold,Helvetica,Arial;
}


.app-summary {
  font-family: ProximaNovaSemiBold,Helvetica,Arial;
  text-transform: uppercase;
}

.tag-btn {

     background-color: #c4d8e8;
     color: #222!important;
     border-color: #c4d8e8;
     font-family: ProximaNova,Helvetica,Arial;
     font-size: 11px;
}

.tag-btn .x-btn-inner {
   color: #222!important;
}

.app-settings .settings-form label {
   vertical-align: top;
}
